<div id="header">
  <div class="container">
    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">
            {{ config.SITENAME }} (Permissions: {{ flaskg.permissions | join(',') }})
          </a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="http://bepasty-server.readthedocs.org/en/latest/">Documentation</a></li>
            {% if may(LIST) %}
            <li><a href="{{ url_for('bepasty.filelist') }}">List all Items</a></li>
            {% endif %}
          </ul>
          {% if flaskg.logged_in %}
          <form class="navbar-form navbar-right" role="form" method="post" action="/+logout">
            <input class="btn btn-default" type="submit" value="Logout">
          </form>
          {% else %}
          <form class="navbar-form navbar-right form-inline" role="form" method="post" action="/+login">
            <div class="form-group">
              <input class="form-control" type="password" name="token" autofocus>
            </div>
            <button type="submit" class="btn btn-default">Login</button>
          </form>
          {% endif %}
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
  </div><!-- /.container -->
</div><!-- /#header -->
